body{
    background-color: black;
}
.clock{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 55px;
    font-family: Orbitron;
    letter-spacing: 7px;
    color: aqua;

}