.black{
    background-color: black;
}
.oval {
    height: 50px;
    width: 100%;
    background-color:#4f81bd;
    border-radius: 30px;
}
nav{
  height: 350px;
}
a{
  text-decoration: none;
}
.bg-tea{
      background-color: #d7d7b1;
}
.socialLinks,.brand{
  text-align: center;
}
.leftside >a >img {
  float: right;
}

nav .socialLinks a {
  display: inline-block;
  font-size: 18px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 36px;
  background-color: #ffffff;
  color: #d7c07a;
  margin: 0 3px 3px 0;
  text-align: center;
}
nav .socialLinks a:hover{
  text-decoration: none;
  opacity: 0.5;
}
.bars div{
  height: 4px;
  background-color: white;
  margin: 3px 0;
  transition: 0.5s;
}

.bars{
  width: 50px;
  display: inline-block;
}
.one.active,.two.active,.three.active{
  margin: 6px 0;
}
.one.active,.three.active{
  height: 5px;
}
.navItems a{
  text-decoration: none;
  margin: 0 10px -5px 10px;
}
.navItems.active a:not(a.bars){
  visibility: visible;
  transition: all 0.5s ease-out;
}
.navItems a:not(a.bars){
  visibility: hidden;
  transition: all 0.2s ease-in;
  
}
.navItems a:not(a.bars){
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
.navItems a:first-child{
  color:#5f5e4e !important;
}
.navItems a:not(a.bars):hover{
  color:#5f5e4e ;
}
.navItems{
  text-align: center;
  height: 40%;
}

.food{
  position: relative;
  display: block;
}
.food .circle{
  box-sizing: border-box;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 217px;
  height: 217px;
  padding:70px 0 0 40px;
  border: 5px solid #ffffff;
  border-radius: 500px;
  margin-top: -108px;
  margin-left: -104px;
  color: #fff;
  font: bold 20px/20px 'Open Sans', sans-serif;
}
.food .circle * {
  position: relative;
  z-index: 10;
}
.food:hover img {
  filter: blur(3px);
}
.food img {
  max-width: 100%;
}
.food .circle span + span {
  padding-top: 14px;
  font-size: 36px;
  display: block;
}
.food .circle small {
  font-size: 30px;
  position: relative;
  top: 2px;
}
.food:hover .circle {
  color: #4f4f4f;
  background: rgba(255, 255, 255, 0.5);
}
.card{
  width:40 !important;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f6f7ea !important;
  border-radius: 0 !important;
  text-align: center !important;
  outline: 0 !important;
  border: 0 !important;
}
.card img{
    border-radius: 500px;
    margin-top: -65px;
}
.heading{
  font-size: 50px;
  line-height: 50px;
  color: #5f5e4e;
  text-align: center;
  padding-top: 97px;
  margin-bottom: 138px;
}
.container .menu{
  margin-left: 8%;
  position: relative;

}
.container-fluid .menu{
  margin-left: 8%;
  position: relative;
}
.menu a{
  text-decoration: none;
  color: #909080;
}
.menu a:hover{
  text-decoration: none;
  color: #d9c381;
}
.card-body{
  padding-left: 0px !important;
}
.card-body a .fa {
 color: #9c9b91;
 padding-left: 20px;
 width: 16px ;
}
.card-title{
  padding-top: 24px !important; 
  margin-bottom: 26px !important;
  font: 24px/20px 'Open Sans', sans-serif;
  color:#6d6d5d !important;
}
.card-text{
  font: 14px/14px 'Open Sans', sans-serif;
  line-height: 20px !important;
  color:#6d6d5d !important;
}

footer{
  padding: 75px 0 70px;
display: block;
background-color: #d7d7b1;
font-size: 12px;
line-height: 14px;
text-align: center;
color: #85846d;
}
.copyright{
  padding-top: 31px;
  margin: 0 7px;
  border-top: 1px solid #5f5e4e;
  display: inline-block;
  width: 40%;
}
.footerlogo img{
  margin-bottom: 28px;
  max-width: 100%;
}
footer a{
  text-decoration: none;
  color: #85846d;
}
footer a:hover {
  color: #5f5e4e;
}
.backToTop{
  box-sizing: border-box;
  display: none; 
  position: fixed; 
  bottom: 70px; 
  right: 20px; 
  z-index: 99; 
  border: 3px solid #d9c381;
  outline: none;
  background-color: transparent; 
  color: #d9c381; 
  cursor: pointer; 
  padding: 2px; 
  border-radius: 50%; 
  height: 50px;
  width: 50px;
}
.backToTop:hover{
  color: #5f5e4e;
  border-color: #5f5e4e;
}
.backToTop .fa{
  font-size: 40px;
}
  /*screen that are min 992px or greater*/
  @media (min-width: 992px) {
      .card{
        margin-bottom: 20%;
      }
  
  }
   /*screen that are max 992px or less*/
  @media (max-width: 992px) {
    .leftside >a>img {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .brand a img{
      width: 40%;
    }
    .food .circle{
      left: 50%;
      top: 50%;
      width: 10rem;
      height: 10rem;
      margin-top: -5rem;
      margin-left: -3rem;
      font: bold 15px/15px 'Open Sans', sans-serif;
      padding:50px 0 0 20px;
    }
    .food .circle .price{
      font-size: 1.5rem;
    }
    .card{
      
      margin-bottom: 25%;
    }
    .card-title{
      padding-top: 24px !important; 
      margin-bottom: 26px !important;
      font: 30px/25px 'Open Sans', sans-serif;
      color:#6d6d5d !important;
    }
    .card-text{
      font: 18px/18px 'Open Sans', sans-serif;
      line-height: 25px !important;
      color:#6d6d5d !important;
    }
  }
@media(max-width:768px){
  .navItems a.bars{
    margin-right: 50%;
    margin-left: 46% ;

  }
  .food .circle{
    left: 50%;
    top: 50%;
    width: 7rem;
    height: 7rem;
    margin-top: -3.5rem;
    margin-left: -3rem;
    font: bold 13px/13px 'Open Sans', sans-serif;
    padding:30px 0 0 10px;
  }
  
  .food .circle .price{
    font-size: 1rem;
  }
  .food .circle small{
    font-size: 1.2rem;
  }
}
@media(max-width:480px){
  .navItems a.bars{
    margin-right: 50%;
    margin-left: 46% ;
    width: 40px;

  }
  .navItems a{
    margin: 0 5px -5px 5px;
    font-size: small;
  }
  .food .circle{
    left: 50%;
    top: 50%;
    width: 6rem;
    height: 6rem;
    margin-top: -3rem;
    margin-left: -3rem;
    font: bold 10px/10px 'Open Sans', sans-serif;
    padding:20px 0 0 5px;
  }
  .food .circle .price{
    font-size: 1rem;
  }
  .food .circle small{
    font-size: 1rem;
  }
}